# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
*.log

# Env files
.env

# OS files
.DS_Store
Thumbs.db

# Airflow
airflow.cfg
logs/
dags/__pycache__/

# Docker volumes
postgres-db-volume/

# Data files
data/processed/*.csv
data/raw/*.tsv
data/raw/*.gz
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# VSCode & IDEs
.vscode/
.idea/